{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Login</title>
    <link rel="stylesheet" href="{% static 'account/style.css' %}">
</head>
<body>
    <div class="box">
        <div class="title-box">
            <img src="{% static 'image/faceebook.svg' %}" alt="Facebook">
            <p>Connect with friends and the world around you on Facebook.</p>
        </div>
        <div class="form-box">
            <form method="post">
                {% csrf_token %}
                <input type="text" name="phone" placeholder="Email address or phone number">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Log In</button>
                <a href="#">Forgotten Password</a>
            </form>
            <hr>
            <div class="create-btn">
                <a href="{% url 'account:signup' %}">Create New Account</a>
            </div>
        </div>
    </div>
</body>
</html>
